
.admin-main{
    min-width: 100%;
}
.main-view{
    align-items: center;
    display: flex;
    //min-height: calc(100vh - 143.2px);
    //margin-top: 40px;
    flex-direction: row;
    padding: 2rem;
    transition: all 0.3s;
    justify-content: space-between;
    min-width: 100%;
    
    p {
        color: #000000; 
        font-size: large;
    }
}