.content {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    //background: linear-gradient(to bottom, rgba(46,49,77,1) 10% , rgba(23,162,184,0.60));
    & .row{
      margin: 0;
    }
}
.three-d-model-viewer{
  width: 100%;
  height: 900px;
  background-color: white;
}
